<html>
    <head>
        <title>Jing Qian's blog </title>
    </head>

<body>
    <h1>My most important heading</h1>
    <p>Hi there!</p>
    <p>It works!</p>
    <h2>My sub-heading</h2>
    <em>Italics texts</em>
    <h3>My sub-sub-heading?</h3>
    <strong>Strong text</strong>
    <p>typingtyp<br>ingtyping</p>
    <h1>Creating a link</h1>
    <a href="https://djangogirls.org">Django Girls Tutorial Homepage</a>
    <ul><li>my first item on the list</li><li>my second item on the list</li>
    <body>am i supposed to type smth here</body>
    <div>dividing a section of the page</div>
</body>
</html>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>